<template>
  <div>
    Hola mundo
    <input type="text" v-model="name" />
    <input type="text" v-model="startDate" />
    <input type="text" v-model="endDate" />
    <button @click="submit">Submit</button>
    <br/>
    <div class="container">
    <b-form @submit="submit">
      <b-form-group
        id="input-group-1"
        label="Plant name:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="name"
          type="text"
          required
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
    <b-table striped hover :items="msg"></b-table>

    </div>
    <table>
      <tbody>
        <tr v-for="plant in msg" >
          <td>{{plant.name}}</td>
          <td>{{plant.description}}</td>
          <td>{{plant.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import axios from 'axios';
/* eslint-disable */

export default {
  data: function() {
    return {
      name: "",
      startDate: null,
      endDate: null,
      msg: []
    }
  },
  methods: {
    submit: function() {
      console.log("Estoy en submit");

      axios.get(`http://localhost:5000/catalog?name=${this.name}`)
        .then(resp => this.msg = resp.data)
        .catch(error => consolo.log(error));
    }
  }
}
</script>